* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
}

html,
body, #root {
      height: 100%;
      width: 100%;
      background-color: rgba(31, 30, 30, 0.689);
}

.mood-element{
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: flex-start;
      padding: 4rem;
}

.mood-element button{
      padding: 0.7rem 1rem;
      border-radius: .5rem;
      border: none;
      background-color: rgb(189, 189, 190);
      color: black;
      cursor: pointer;
}

.user-video-feed{
      width: 30rem;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 1rem;
}